# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# ML specific - DON'T UPLOAD THESE!
data/
*.pth
*.pt
*.onnx
*.h5
*.pkl
*.pickle

# Environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Large files
*.zip
*.tar.gz

# Week 8 trained model folders (too large for GitHub - 3GB+)
week_8_transformers_advanced_nlp/fake_news_detector_results/
week_8_transformers_advanced_nlp/t5_summarization_results/
week_8_transformers_advanced_nlp/models/bert_sentiment_model/
week_9_streamlit_nlp_platform/user_data/
 